body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: right;
  font-size: 26px;
  font-weight: 100;
  line-height: 35px;
  margin: 0;
}
p {
  color: #7c7c7c;
  text-align: right;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  margin-bottom: 0;
}

p:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 15px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  position: relative;
  left: -15px;
  bottom: -10px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  border-radius: 10px;
}

.search-form {
  margin-bottom: -30px;
}

.city {
  position: relative;
  bottom: -60px;
}
.weather-icon {
  height: 75px;
  width: 75px;
  margin-right: 10px;
  position: relative;
  top: -10px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -30px;
}

.link-source {
  font-size: 11px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #7c7c7c;
}

.weather-forecast-date {
  font-size: 14px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.9;
}
